body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 96.5%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.vertical-center {
    text-align: center;
    margin: 0;
}

.nav-cont {
    font-family: 'Roboto', sans-serif;
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    font-size: medium;
}

.navbar {
    background-color: #0075D8;
}

.underlined {
    border-bottom: solid 3px white;
}

.nav-link {
    color: white !important;
}

.nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

.legend {
    line-height: 18px;
    color: black;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}