body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 96.5%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.vertical-center {
    text-align: center;
    margin: 0;
}

.nav-cont {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    font-size: large;
}

.underlined {
    border-bottom: solid 1px white; 
}

li {
    padding-left: 30px;
    padding-right: 30px;
}